@font-face {
    font-family: 'aller_bold';
    src: url('/fonts/aller_aller_bd-webfont.eot');
    src: url('/fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/aller_bd-webfont.woff') format('woff'), url('/fonts/aller_bd-webfont.ttf') format('truetype'), url('/fonts/aller_bd-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'aller_rg';
    src: url('/fonts/aller_aller_rg-webfont.eot');
    src: url('/fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/aller_rg-webfont.woff') format('woff'), url('/fonts/aller_rg-webfont.ttf') format('truetype'), url('/fonts/aller_rg-webfont.svg#webfont') format('svg');
}




html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, address, big, del, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
background: none repeat scroll 0 0 transparent;
border: 0 none;
font-size: 100%;
margin: 0;
padding: 0;
vertical-align: baseline;
font-family: aller_rg;
}

html {
height: 100%;
//background: url("/images/bg.png");

//background-color:#D0F5A9;
background-color:#ffa940;
}


ol, ul {
list-style: none outside none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
content: none;
}
a, a:link, a:visited {
text-decoration: none;
}
a:active, a:focus, a:hover {
text-decoration: underline;
}
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
thead, tbody, tfoot, tr, th, td {
empty-cells: show;
vertical-align: top;
}
th {
text-align: left;
}
body, p, input, select, textarea {
color: black;
line-height: 1.4em;
}
p {
padding: 0.2em 0 0.5em;
}
h1 {
font-size: 200%;
}
h2 {
font-size: 150%;
}
h3 {
font-size: 120%;
}
samp, code, kbd {
background-color: whitesmoke;
color: #666666;
font-size: 90%;
}
small {
font-size: 85%;
}
body {
height: 100%;
background-color:#fff ;
}
body, textarea, select, input {
font: 12pt/1.3em;
}
h1, h2, h3, h4, h5, h6 {
clear: left;
display: block;
margin-top: 0.5em;
padding-bottom: 0.2em;
page-break-after: avoid;
}
h1 {
font-size: 2em;
line-height: 1.4em;
}
h2 {
border-top: 1px solid #7EBE34;
font-size: 1.6em;
line-height: 1.5em;
padding-top: 0.3cm;
}
h3 {
font-size: 1.2em;
}
h4 {
font-size: 1.1em;
}
p {
clear: left;
text-align: justify;
}
a {
color: #005931;
text-decoration: none;
}
input {
   background: #699662;
   background: -webkit-gradient(linear, left top, left bottom, from(#174a0c), to(#699662));
   background: -webkit-linear-gradient(top, #174a0c, #699662);
   background: -moz-linear-gradient(top, #174a0c, #699662);
   background: -ms-linear-gradient(top, #174a0c, #699662);
   background: -o-linear-gradient(top, #174a0c, #699662);
   padding: 6.5px 13px;
   -webkit-border-radius: 38px;
   -moz-border-radius: 38px;
   border-radius: 38px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 12px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: baseline;
   line-height:40px;
}

#styled_select select {
    width: 130px;
   background: transparent;
   padding: 2px;
   font-size: 15px;
   border: 2px solid #ccc;
   height: 30px;
   font-family: aller_rg;
   font-style: italic;


}
#styled_select {
//border: medium 1px;
//font-style: italic;
background: url("/images/asagiok.jpg") no-repeat right #fff;
background-size: 15% 40%;
overflow: hidden;
width:110px;
border-right: 2px solid #ccc;
border-radius:6px;
//background: url("/images/asagiok1.jpg");
//background: url("/images/asagiok2.gif");
}
input.button, button, a.button, a.fixButton, p.buttonWrap, form a.help {
display: none;
}
ul li {
list-style: disc inside none;
}
ol li {
list-style: decimal inside none;
}

//body {
  //background-image: url("/images/background.png");
  //color: #333;
  //font-family: verdana, arial, helvetica, sans-serif;
  //font-size: 13px;
  //line-height: 18px;
//}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }


#notice {
  color: green; }

.field_with_errors {
  //padding: 2px;
  background-color: #ff5400;
  display: table;
  border-radius:60px;
  }

#error_explanation {
  width: 450px;
  border: 3px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #ffa940;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }


hr {

    border: 1px solid #7EBE34;
    margin-right:100px;
    margin-top: 50px;
}

#login_page {
    height:400px;
    background: url("/images/bg.png");
    border-radius:60px;
    font-size:14px;
    text-align:left;
    padding-top:50px;
    padding-left:120px;
    margin-left:150px;
    margin-right:150px;
    //margin-top:160px;

}

#login_page_inside {
    background-color: #D8D8D8;
    width:350px;
    height:320px;
    border-radius:10px;
    margin-left:40px;
    padding-left:25px;
    padding-top:30px;


}
#login_page_inside_header {
    height:30px;
    margin-left:-25px;
    margin-top:-30px;
    margin-bottom: 20px;
    border: #909090 outset 2px;
    background-color: #909090;
    font-color: #708090;
    text-align: center;
    font-weight: bold;
    border-radius:5px;
    font-size:18px;
    padding-top:8px;
}

#fields {
    text-align:left;
}



#buttonn {
   border-top: 1px solid #529155;
   background: #699662;
   background: -webkit-gradient(linear, left top, left bottom, from(#174a0c), to(#699662));
   background: -webkit-linear-gradient(top, #174a0c, #699662);
   background: -moz-linear-gradient(top, #174a0c, #699662);
   background: -ms-linear-gradient(top, #174a0c, #699662);
   background: -o-linear-gradient(top, #174a0c, #699662);
   padding: 6.5px 13px;
   -webkit-border-radius: 38px;
   -moz-border-radius: 38px;
   border-radius: 38px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 12px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: baseline;
   line-height:40px;
   }

#biz {
    text-align:center;
    margin-bottom:3px;
    font-size:8px;
}
#containers {
    margin: 0 auto;
    padding: 0;
    width:1000px;
}
#en_dis {

width: 100%;
height: 100%;
//background: url("/images/bg.png");
//background-color:#D0F5A9;
background-color:#ffa940;

}

#page {
    min-height:250px;
    margin-top: 50px;
}
#page table {
    margin-left: -50px;
    min-height: 250px;

}

#page td {

    margin-right:200px;
    min-height:250px;
}



#comments_header {
    //background-color: -moz-linear-gradient(#fff,#0CC702);
    background: -moz-linear-gradient(#0CC702, #ADFEA9);
    width:577px;
    height:25px;
    border-radius:6px 6px 0px 0px;
    font-size:15px;
    font-weight:bold;
    padding-left:15px;
    padding-top:3px;
    margin-left: -6px;
    margin-top: -2px;
    color: #000;

}

#right_side {
    //background-color:#e2e2e2;
    //border: #909090 solid 2px;
    width:590px;
    border-radius:6px;
    //position:absolute;
    //right:250px;
    min-height:250px;
    margin-left:190px;


}
#right_side br{
display: block;
margin-bottom: 6px;
}

#left_side {
    background-color:#F7F7F7;
    border: #909090 solid 2px;
    width:220px;
    border-radius:6px;
    //position:absolute;
    //left:255px;
    float:left;
    text-align: top;
    min-height:250px;
    padding-top: 10px;
    padding-left: 6px;
    margin-left:-65px;
}

#for_comment {
   background-color:#F7F7F7;
   //border: #fff solid 2px;
   border-radius: 6px;
   padding-left: 5px;
   padding-bottom: 2px;
   padding-top: 2px;
   padding-right: 5px;
}



#comment_item {

}

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

#container {
    background: url("/images/bg.png");
    border-radius:60px;
    font-size:14px;
    text-align:left;
    padding-top:50px;
    padding-left:120px;
    padding-bottom:50px;
    margin-left:20px;
    margin-right:20px;
    margin-top:155px;
    min-height:400px;



}

#container_header {
    height:40px;
    margin-left:-120px;
    margin-top:-50px;
    margin-bottom: 20px;
    //border: #909090 outset 2px;
    //background-color: #09A601;
    background: -moz-linear-gradient(#044D00, #09A601);
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius:50px 50px 0px 0px;
    font-size:25px;
    padding-top:12px;

}

#options_right{

background-color:#e2e2e2;
    border: #909090 solid 2px;
    width:590px;
    border-radius:6px;
    position:absolute;
    right:250px;
    min-height:250px;
    padding-left:100px;


}

#paginate{

    position:absolute;
    right:250px;
    padding-left:100px;


}

#logo_left{

width: 20%;
background: url("/images/logo1.png");
background-size:100% 100%;
background-repeat: no-repeat;
height:150px;
//position:absolute;
//left:200px;
//opacity: 0.9;
top:0px;
padding-left:20px;
float:left;
margin-top:-152px;
margin-left:80px;
}

#logo_right{

width:70%;
height:150px;
//background: url("/images/aaa.jpeg");
//background-size:100% 100%;
//background-color:rgba(255,0,0,0.5);
//text-opacity:0.9;
//filter:alpha(opacity=60);
//position:absolute;
//right:200px;
top:0px;
text-align:right;
border-radius:20px;
padding-right:20px;
float:right;
margin-top:-152px;
margin-right:20px;
color:#000;
font-size:13px;
font-family: aller_bold;
padding-top:10px;

}
/* Buttons */
#guidance-button{ min-width:140px;}
#navDemoBtn{ width:100px;}
a.button, .button {
	display: inline-block;
  position: relative;
  color: black;
  background: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

button.button { /* Buttons made with the <button> tag */
  background: none;
  border: none;
  padding: 0;
  white-space: nowrap;
	overflow: visible;
}

.button .label {
  display: block;
  margin: 0 18px;
  background-image: url('/images/buttonsBgSprite.png');
  background-position-x: 0;
}

.button .btnL, .button .btnR {
  position: absolute;
  top: 0;
  width: 18px;
  background-image: url('/images/buttonsSprite.png');
}

.button .btnL {
  left: 0;
  background-position-x: 0;
}

.button .btnR {
  right: 0;
  background-position-x: -18px;
}

.button:active { top: 1px; }

/* Big Buttons */

.button.big {
	height: 43px;
  font-size: 17px;
}

.button.big .label {
	height: 32px;
  padding: 11px 4px 0 4px;
}

.button.big.rightArrow .label {
  padding-right: 10px;
  margin-right: 36px;
}

.button.big .btnL, .button.big .btnR { height: 43px; }

.button.big.rightArrow .btnR {
  width: 36px;
  background-position-x: -36px;
}

/* Small Buttons */

.button.small {
	height: 33px;
  font-size: 13px;
  /*font-weight: bold;*/
}

.button.small .label {
	height: 25px;
  padding: 8px 4px 0 4px;
}

.button.small .btnL, .button.small .btnR { height: 33px; }

/* Colors & States */

/* Go from one color to the next : -228px */
/* Go from big to small : -129px */

.button.blue.big .label, .button.blue.big .btnL                             { background-position: 0 0; }
.button.blue.big .btnR                                                      { background-position: -18px 0; }
.button.blue.big.rightArrow .btnR                                           { background-position: -36px 0; }
.button.blue.big:hover .label, .button.blue.big:hover .btnL                 { background-position: 0 -86px; }
.button.blue.big:hover .btnR                                                { background-position: -18px -86px; }
.button.blue.big.rightArrow:hover .btnR                                     { background-position: -36px -86px; }
.button.blue.big:active .label, .button.blue.big:active .btnL               { background-position: 0 -43px; }
.button.blue.big:active .btnR                                               { background-position: -18px -43px; }
.button.blue.big.rightArrow:active .btnR                                    { background-position: -36px -43px; }

.button.orange.big .label, .button.orange.big .btnL                         { background-position: 0 -228px; }
.button.orange.big .btnR                                                    { background-position: -18px -228px; }
.button.orange.big.rightArrow .btnR                                         { background-position: -36px -228px; }
.button.orange.big:hover .label, .button.orange.big:hover .btnL             { background-position: 0 -314px; }
.button.orange.big:hover .btnR                                              { background-position: -18px -314px; }
.button.orange.big.rightArrow:hover .btnR                                   { background-position: -36px -314px; }
.button.orange.big:active .label, .button.orange.big:active .btnL           { background-position: 0 -271px; }
.button.orange.big:active .btnR                                             { background-position: -18px -271px; }
.button.orange.big.rightArrow:active .btnR                                  { background-position: -36px -271px; }

.button.red.big .label, .button.red.big .btnL                               { background-position: 0 -456px; }
.button.red.big .btnR                                                       { background-position: -18px -456px; }
.button.red.big.rightArrow .btnR                                            { background-position: -36px -456px; }
.button.red.big:hover .label, .button.red.big:hover .btnL                   { background-position: 0 -542px; }
.button.red.big:hover .btnR                                                 { background-position: -18px -542px; }
.button.red.big.rightArrow:hover .btnR                                      { background-position: -36px -542px; }
.button.red.big:active .label, .button.red.big:active .btnL                 { background-position: 0 -499px; }
.button.red.big:active .btnR                                                { background-position: -18px -499px; }
.button.red.big.rightArrow:active .btnR                                     { background-position: -36px -499px; }

.button.green.big .label, .button.green.big .btnL                           { background-position: 0 -684px; }
.button.green.big .btnR                                                     { background-position: -18px -684px; }
.button.green.big.rightArrow .btnR                                          { background-position: -36px -684px; }
.button.green.big:hover .label, .button.green.big:hover .btnL               { background-position: 0 -770px; }
.button.green.big:hover .btnR                                               { background-position: -18px -770px; }
.button.green.big.rightArrow:hover .btnR                                    { background-position: -36px -770px; }
.button.green.big:active .label, .button.green.big:active .btnL             { background-position: 0 -727px; }
.button.green.big:active .btnR                                              { background-position: -18px -727px; }
.button.green.big.rightArrow:active .btnR                                   { background-position: -36px -727px; }

.button.black.big .label, .button.black.big .btnL                           { background-position: 0 -912px; }
.button.black.big .btnR                                                     { background-position: -18px -912px; }
.button.black.big.rightArrow .btnR                                          { background-position: -36px -912px; }
.button.black.big:hover .label, .button.black.big:hover .btnL               { background-position: 0 -998px; }
.button.black.big:hover .btnR                                               { background-position: -18px -998px; }
.button.black.big.rightArrow:hover .btnR                                    { background-position: -36px -998px; }
.button.black.big:active .label, .button.black.big:active .btnL             { background-position: 0 -955px; }
.button.black.big:active .btnR                                              { background-position: -18px -955px; }
.button.black.big.rightArrow:active .btnR                                   { background-position: -36px -955px; }

.button.turquoise.big .label, .button.turquoise.big .btnL                   { background-position: 0 -1140px; }
.button.turquoise.big .btnR                                                 { background-position: -18px -1140px; }
.button.turquoise.big.rightArrow .btnR                                      { background-position: -36px -1140px; }
.button.turquoise.big:hover .label, .button.turquoise.big:hover .btnL       { background-position: 0 -1226px; }
.button.turquoise.big:hover .btnR                                           { background-position: -18px -1226px; }
.button.turquoise.big.rightArrow:hover .btnR                                { background-position: -36px -1226px; }
.button.turquoise.big:active .label, .button.turquoise.big:active .btnL     { background-position: 0 -1183px; }
.button.turquoise.big:active .btnR                                          { background-position: -18px -1183px; }
.button.turquoise.big.rightArrow:active .btnR                               { background-position: -36px -1183px; }

.button.blue.small .label, .button.blue.small .btnL                         { background-position: 0 -129px; }
.button.blue.small .btnR                                                    { background-position: -18px -129px; }
.button.blue.small:hover .label, .button.blue.small:hover .btnL             { background-position: 0 -195px; }
.button.blue.small:hover .btnR                                              { background-position: -18px -195px; }
.button.blue.small:active .label, .button.blue.small:active .btnL           { background-position: 0 -162px; }
.button.blue.small:active .btnR                                             { background-position: -18px -162px; }

.button.orange.small .label, .button.orange.small .btnL                     { background-position: 0 -357px; }
.button.orange.small .btnR                                                  { background-position: -18px -357px; }
.button.orange.small:hover .label, .button.orange.small:hover .btnL         { background-position: 0 -423px; }
.button.orange.small:hover .btnR                                            { background-position: -18px -423px; }
.button.orange.small:active .label, .button.orange.small:active .btnL       { background-position: 0 -390px; }
.button.orange.small:active .btnR                                           { background-position: -18px -390px; }

.button.red.small .label, .button.red.small .btnL                           { background-position: 0 -585px; }
.button.red.small .btnR                                                     { background-position: -18px -585px; }
.button.red.small:hover .label, .button.red.small:hover .btnL               { background-position: 0 -651px; }
.button.red.small:hover .btnR                                               { background-position: -18px -651px; }
.button.red.small:active .label, .button.red.small:active .btnL             { background-position: 0 -618px; }
.button.red.small:active .btnR                                              { background-position: -18px -618px; }

.button.green.small .label, .button.green.small .btnL                       { background-position: 0 -813px; }
.button.green.small .btnR                                                   { background-position: -18px -813px; }
.button.green.small:hover .label, .button.green.small:hover .btnL           { background-position: 0 -879px; }
.button.green.small:hover .btnR                                             { background-position: -18px -879px; }
.button.green.small:active .label, .button.green.small:active .btnL         { background-position: 0 -846px; }
.button.green.small:active .btnR                                            { background-position: -18px -846px; }

.button.black.small .label, .button.black.small .btnL                       { background-position: 0 -1041px; }
.button.black.small .btnR                                                   { background-position: -18px -1041px; }
.button.black.small:hover .label, .button.black.small:hover .btnL           { background-position: 0 -1107px; }
.button.black.small:hover .btnR                                             { background-position: -18px -1107px; }
.button.black.small:active .label, .button.black.small:active .btnL         { background-position: 0 -1074px; }
.button.black.small:active .btnR                                            { background-position: -18px -1074px; }

.button.turquoise.small .label, .button.turquoise.small .btnL               { background-position: 0 -1269px; }
.button.turquoise.small .btnR                                               { background-position: -18px -1269px; }
.button.turquoise.small:hover .label, .button.turquoise.small:hover .btnL   { background-position: 0 -1335px; }
.button.turquoise.small:hover .btnR                                         { background-position: -18px -1335px; }
.button.turquoise.small:active .label, .button.turquoise.small:active .btnL { background-position: 0 -1302px; }
.button.turquoise.small:active .btnR                                        { background-position: -18px -1302px; }

@-moz-document url-prefix() { /* The following CSS properties will be seen only by Firefox */
  button.button.big.rightArrow .label {
    margin-right: 32px;
  }

  button.button.small .label {
    margin-right: 14px;
  }
  }